body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/* header styles */
/* write your comments here */

header{
	background-color: #3BC7FF;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
} 

h1, h2{
	font-family: 'Bungee', cursive;
}

header h1{
	color: white;
	font-size: 80px;
}

header img{
   	width: 300px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 40px;
	color: #3BC7FF;
	margin: 40px 0 10px;
}

a{
	color: #3BC7FF;
}

a:hover{
	color: white;
	background-color: #FF007B;
}

footer{
	background-color: #3BC7FF;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}
